.powrot{
    border: 2px solid cornflowerblue;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 25px;
    transition: 0.5s;
}

.powrot:hover{
    color: white;
    background-color: cornflowerblue;
}

.powrot:focus{
    outline: none;
    color: white;
    background-color: cornflowerblue;
}
