h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #05445E;
    color: white;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #05445E;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #05445E;
}

body{
    background-color: #D4F1F4;
      
}

input[type=button]{
    background-color: #05445E;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: solid;
    text-decoration-line: none;
}

input[type=button]:hover{
    background-color:white;
    color: black;
    transition: 0.5s;
}

input[type=text]{
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    background-color: white;
    color: black;
}

input[type=text]:hover{
    box-shadow: 8px 5px 8px;
    transition: 0.5s;
}




